body {
  background-color: #0000000;
  color: #0000000;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: : 2em;
}

body {
  background-image: url(https://github.com/PaulACain/css-exercise-two/blob/master/images/instagram-pic.jpg);
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  margin: 1em;
}


header {
  font-size: 2em;
  float: left;
}

ul:link {
  color: #0000000;
}

h1 {
  font-size: 1.3em;
  margin bottom: : 1.5em;
  margin-top: 1.5em;
}

h3 {
  font-size: 75%;
  margin-top: 1em;
}
p {
  font-size: 100%;
  line-height: 1.5em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.author {
  font-size: 50%;
  font-style: italic;
  margin-bottom: 1em;
  margin-top: 2em;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  text-decoration: none;
}

li:hover {
  background: pink;
}

figcaption {
  font-size: 50%;
}

li {
  float: right;
  padding: 30px;
  color: black;
  text-decoration:none:
}

article {
  padding-top: 100px;
}

a:link {
  text-decoration: none;
  color: black
}

.container {
  margin: 0 auto;
  width: 50%;
}
