body {
  background-color: #0000000;
  color: #0000000;
  font-size: 16px;
  line-height: 1.2;
}
body {
  background-image: url(/user/paulacain/projects/css-exercise-two/images/instagram-pic.jpg);
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

header {
  font-size: 2em;
}

ul:link {
  color: #0000000;
}

h1 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.5em;
}
p {
  font-size: 100%;
  line-height: 1.5em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  text-decoration: none;
}

li:hover {
  background: pink;
}

li {
  float: right;
  padding: 30px;
  color: black;
  text-decoration: none;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
